@import "component/color.scss";
@import "component/initial.scss";
@import "component/custom.scss";

div{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
}

$content-height-md: 138px;
$content-height-sm: 120px;
.content-wrapper{
  @include md-width{
    min-height: calc(100vh - #{$content-height-md});
  }
  @include sm-width{
    min-height: calc(100vh - #{$content-height-sm});
  }
}

.board-form-wrapper{
  height: 100vh;
  top: 0;
  left: 0;
  width: 100vw;
  position: fixed;
  z-index: 3;
  background-color: rgba(0,0,0,0.7);
}

.board-form{
  @include md-width{
    margin: 0 10%;
  }
  @include sm-width{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}

.float_menu{
  position: fixed;
  z-index: 3;
  right: 5%;
  bottom: 5%;

  button{
    padding: 10px;
    width: 51px;
    font-size: 26px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
  }
}